@page
@model cleanarch4.Web.Pages.KnowPills.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Knowledge pills list</title>
</head>
<body>
<div>
    
</div>
</body>
</html>